# --- Core AI & Schema ---
openai
ollama
huggingface_hub
sentence_transformers

# --- Data & Utilities ---
numpy
psutil
typing_extensions
typing_inspection
gradio

# --- Environment Support ---
ipykernel
dotenv
tqdm

# --- Google environment ---
google-api-python-client
google-auth-httplib2
google-auth-oauthlib