# --- Core AI & Schema ---
openai
ollama
huggingface_hub
sentence_transformers
lmstudio

# --- Data & Utilities ---
numpy
psutil
typing_extensions
typing_inspection
gradio
chromadb

# --- Environment Support ---
ipykernel
dotenv
tqdm
ipython

# --- Google environment ---
google-api-python-client
google-auth-httplib2
google-auth-oauthlib